.main-content {
    margin-left: 250px;
    padding: 20px;
}

.posts_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* Responsive grid with a minimum column width of 300px */
    gap: 20px; /* Add spacing between the cards */
    padding: 20px;
}
